doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title Suzuristagram
  body
    div#root
    script(src="js/bundle.js")
